#am_pic {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  width: auto!important;
}

#about_row {
  width: auto!important;
  max-width: 1202px;
  margin-top: 78px;
}

#am_h {
  text-align: center;
}

@media (min-width: 300px) {
  #am_p {
    font-size: larger;
  }
}

@media (min-width: 768px) {
  #am_p {
    font-size: x-large;
  }
}

#am_img {
  width: 300px!important;
}

#exp_h {
  width: 100%;
  text-align: center;
}

