#am_pic {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  width: auto!important;
}

#am_pic {
}

#about_row {
  width: auto!important;
  margin-top: 78px;
}

#am_h {
  text-align: center;
}

@media (min-width: 992px) {
  #am_p {
    text-align: center;
    font-size: x-large;
  }
}

