#am_pic {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  width: auto!important;
}

#about_row {
  width: auto!important;
  max-width: 1202px;
}

#am_h {
  text-align: center;
}

@media (min-width: 300px) {
  #am_p {
    font-size: larger;
  }
}

@media (min-width: 768px) {
  #am_p {
    font-size: x-large;
  }
}

#am_img {
  width: 300px!important;
}

#exp_h {
  width: 109%;
  text-align: center;
}

/* change margin-top for various screen sizes for row in first div */

#exp_s {
  height: 100%;
  padding-top: 87px;
}

.text-left {
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  #cont_p {
    font-size: x-large;
  }
}

#cont_p {
  padding-top: 5%;
  padding-bottom: 5%;
}

#git {
  font-size: 175%;
}

#insta {
  font-size: 165%;
  padding-right: 5%;
}

@media (min-width: 300px) {
  #mail {
    font-size: 110%;
    padding-right: 0%;
  }
}

@media (min-width: 768px) {
  #mail {
    font-size: 110%;
    padding-right: 5%;
  }
}

